.main-visual {
  background-color: var(--secondary-color);

  text-align: left;
  padding: 0.5rem 0rem 1rem 2rem;
}

.image {
  margin: 1rem 0rem;
}

.main-visual .circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  width: 12rem;
  height: 12rem;
  border-radius: 12rem;
}

.main-visual .main-image {
  width: 7rem;
  margin: 0 auto;
}

.main-visual .degrees {
  font-size: 60px;
}
