.search {
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-right: 15rem;
  margin-top: 1rem;
  opacity: 0.5;
}

.search .btn:hover {
  color: var(--primary-color);
  background-color: var(--background-color);
}

.search .btn:active {
  border-color: transparent;
}

input,
.form-control,
.btn {
  text-align: left;
  letter-spacing: 0.1em;
  font-size: 11px;
  border-radius: 16px;
  border: none;
  background-color: var(--background-color);
  font-size: 11px;
}

.form-control {
  color: var(--primary-color);
  padding: 0.8rem;
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem rgba(240, 29, 127, 0.2);
}

@media screen and (max-width: 576px) {
  .search {
    margin-right: 10rem;
  }
}
