:root {
  --background-color: #ffffff;
  --primary-color: #f01d7f;
  --secondary-color: #d9d9d9;
  --tertiary-color: #616161;
  --default-font-family: "Urbanist", sans-serif;
}

body {
  margin: 0;
  background-color: #f0eeee;
}

.App,
input {
  font-family: var(--default-font-family);
  background-color: var(--secondary-color);
  text-align: left;
  font-weight: lighter;
  border-radius: 30px;
}

h2,
h3,
h4,
h5 {
  color: var(--background-color);
  margin: 0px;
}

p {
  color: var(--tertiary-color);
  text-align: center;
}

h1 {
  font-size: 75px;
  color: var(--primary-color);
  line-height: 0.8em;
}

h2 {
  font-size: 30px;
  letter-spacing: 0.1em;
}

h4 {
  font-size: 22px;
  letter-spacing: 0.1em;
}

h5 {
  font-size: 15px;
}

p {
  font-size: 12px;
  margin: 0px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.container {
  width: 45vw;
  padding: 0px;
}

@media screen and (max-width: 576px) {
  .container {
    width: 100vw;
    margin: 0px;
  }
}
