.weather-info {
  background-color: var(--secondary-color);
  text-align: left;
  padding: 0.5rem 1rem 1rem 2rem;
}

.city {
  text-transform: uppercase;
}

.country {
  font-variant-caps: all-small-caps;
  color: var(--primary-color);
}

.image {
  margin: 1rem 0rem;
}

.weather-info .circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  width: 12rem;
  height: 12rem;
  border-radius: 12rem;
}

.weather-info .main-image {
  width: 7rem;
  margin: 0 auto;
}

.weather-info .degrees {
  font-variant-caps: all-small-caps;
}
