:root {
  --background-color: #ffffff;
  --primary-color: #f01d7f;
  --secondary-color: #d9d9d9;
  --tertiary-color: #616161;
  --default-font-family: "Urbanist", sans-serif;
}

body {
  background-color: #f0eeee;
}

.App,
input {
  font-family: var(--default-font-family);
  background-color: var(--secondary-color);
  text-align: left;
  font-weight: lighter;
}

h1,
.country-code,
.min-temp,
.max-temp {
  color: var(--primary-color);
  line-height: 0.8em;
}

h2,
h3,
h4,
h5,
a {
  color: var(--background-color);
  text-decoration: none;
}

p,
.min-temp {
  color: var(--tertiary-color);
}

h1 {
  font-size: 75px;
  margin: 0px;
}

h2 {
  font-size: 30px;
  margin: 0px;
  letter-spacing: 0.1em;
}

h4 {
  font-size: 22px;
  margin: 0px;
  letter-spacing: 0.1em;
}

p {
  font-size: 12px;
  margin: 0px;
}

a {
  color: var(--primary-color);
}

body {
  margin: 0;
}

.footer {
  padding: 1.5rem 2rem;
  background-color: var(--background-color);
}

/* Container */

.container {
  width: 45vw;
  padding: 0px;
}

/* Search */

.search {
  background-color: var(--secondary-color);
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 10rem;
  opacity: 0.5;
}

.search .btn {
  background-color: var(--background-color);
}

input,
.form-control {
  text-align: left;
  letter-spacing: 0.1em;
  font-size: 11px;
  border-radius: 8px;
  border: none;
  background-color: var(--background-color);
  font-size: 11px;
  color: #f01d7f;
}

/* Main visual */

.main-visual {
  background-color: var(--secondary-color);

  text-align: left;
  padding: 0.5rem 0rem 1rem 2rem;
}

.image {
  margin: 1rem 0rem;
}

.main-visual .circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  width: 12rem;
  height: 12rem;
  border-radius: 12rem;
}

.main-visual .main-image {
  width: 7rem;
  margin: 0 auto;
}

/* 

.main-visual {
  background-color: red;
  border-radius: 0px 250px 0px 0px;
}*/

.main-visual .degrees {
  font-size: 60px;
}

/* Forecast */

.forecast {
  background-color: var(--background-color);
  padding-top: 0.5rem;
  border-radius: 30px 30px 0px 0px;
}

.forecast hr {
  width: 5rem;
  margin: 1rem auto;
  border-top: solid 5px var(--tertiary-color);
  opacity: 1;
  border-radius: 5px;
}

.forecast-row {
  padding-top: 0.5rem;
  margin: 0rem 0.5rem;
  text-align: center;
}

.forecast-image {
  width: 2em;
  padding: 0.5rem 0;
}

@media screen and (max-width: 576px) {
  .container {
    width: 100vw;
    margin: 0px;
  }
}
