:root {
  --background-color: #ffffff;
  --primary-color: #f01d7f;
  --secondary-color: #d9d9d9;
  --tertiary-color: #616161;
  --default-font-family: "Urbanist", sans-serif;
}

.App,
input,
.form-control {
  font-family: var(--default-font-family);
  text-align: center;
}

h1,
strong,
.btn:hover,
a:hover {
  color: var(--background-color);
  font-weight: lighter;
  line-height: 0.8em;
}

h2,
h3,
h4,
h5,
a {
  color: var(--background-color);
  text-decoration: none;
  font-weight: lighter;
}

p,
.btn,
.units {
  color: var(--background-color);
}

h1 {
  font-size: 90px;
  margin: 0px;
}

h2 {
  font-size: 32px;
  margin: 0px;
}

h3 {
  margin: 0px;
  font-size: 26px;
}

h4 {
  font-size: 22px;
  margin: 0px;
}

h5 {
  margin: 0px;
}

p {
  font-size: 12px;
  margin: 0px;
}

a {
  color: #f01d7f;
}

body {
  margin: 0px;
}

footer {
  padding: 35px;
}

.container {
  background-color: var(--secondary-color);
  width: 45vw;
  padding: 0px;
  display: block;
  margin: 0 auto;
}

.search {
  background-color: var(--secondary-color);
  padding: 15px;
}

input,
.form-control {
  margin: 5px;
  padding: 5px;
  text-align: left;
  border-color: transparent;
}

.main-visual {
  padding-top: 2vh;
}

.image {
  margin: 1rem 0rem;
}
/* This is a single-line comment */
.main-visual .circle {
  display: flex;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  width: 17rem;
  height: 17rem;
  border-radius: 17rem;
  border-style: solid;
  border-color: var(--secondary-color);
  border-width: 6px;
}

.main-visual .main-image {
  width: 8rem;
  margin: 0 auto;
}

.main-visual .degrees {
  font-size: 60px;
}

@media screen and (max-width: 576px) {
  .container {
    width: 100vw;
    margin: 0px;
  }
}
